@use "../../utils/variables";
.SectionContent {
  width: variables.$width;
}
.Section {
  width: 100%;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Heading2 {
  font-size: 1.3em;
  margin: 0;
  padding: 0.4em 0;
}
