.Section {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  gap: 0.5em;
}

.Title {
  width: 80%;
  margin: 1vh 0 0;
  padding: 0 0 0 15%;
}

.Header {
  width: 100%;
  background-color: #f2b5d4;
  font-family: "Courier", Courier, monospace;
  & > h1 {
    margin: 0;
  }
}
