@use "./utils/variables";
.Section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.Title {
  text-align: right;
  $rightPadding: calc(50% + (variables.$width / 3));
  padding: 0.2em $rightPadding 0.2em variables.$leftDistance;
  @media (min-width: variables.$fullWidth) {
    $rightPadding: calc(50% + (variables.$fullWidth / 3));
    padding: 0.2em $rightPadding 0.2em variables.$leftDistance;
  }
}

.Header {
  width: 100%;
  background-color: variables.$accentBackground;
  font-family: "Courier", Courier, monospace;
  & > h1 {
    margin: 0;
  }
}

.NoPrint {
  @media print {
    display: none;
    visibility: hidden;
  }
}

.BackButton {
  @media print {
    display: none;
    visibility: hidden;
  }
  font-size: 1rem;
  padding: 0.3em;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
