* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0 0 3em;
  background-color: #fed8f1;
}

@media print {
  body {
    padding: 0;
  }
}

#root {
  width: 100%;
  margin: 0 0;
}
button,
input[type="submit"] {
  background-color: #c4ccf088;
  border: 2px solid #c4ccf0;
  box-sizing: border-box;
  color: #49416d;
  font-weight: 700;
  border-radius: 0.5em;
  padding: 0.4em;
  box-shadow: 1px 1px;
  &:disabled {
    color: darkgray;
    background-color: lightgray;
  }
  &:hover,
  &:active {
    &:not(:disabled) {
      background-color: #dfe7ff;
    }
  }

  &:active {
    &:not(:disabled) {
      box-shadow: 1px 1px, inset 1px 1px;
    }
  }
}
