@use "../../utils/variables";

.Form {
  padding: 0.5em;
}
.Label {
  display: flex;
  justify-content: space-between;
}
.Header {
  margin: 0;
}
.MarginSection {
  padding-left: variables.$leftDistance;
}
.ButtonsContainer {
  display: flex;
  gap: 0.5em;
  justify-content: center;
}
